<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="factoryConfig" value="Advanced.IService.IServiceDal,Advanced.IService"/>
  </appSettings>
  <connectionStrings>
    <add name="PracticeDB" connectionString="Data Source=.;User ID=administrator;Password=123456.;Database=Practice;Allow User Variables=True;Charset=utf8;"/>
  </connectionStrings>
</configuration>